*
{
    transition: all 0.15s;
}

body
{
    background-color: rgb(129, 176, 219);
}

h1
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
}

p
{
    font-size: 40px;
    color: white;
    text-align: center;
}

#clues
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    gap: 1em;
    flex-direction: column;
}

#cluesBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#guess
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    flex-direction: column;
    gap: 1em;
}

#guessInput
{
    border: none;
    font-size: 56px;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.25em;
    max-width: 90%;
}

#guessInput:hover:disabled
{
    cursor: default;
}

#forfeitButton
{
    border: none;
    font-size: 40px;
    background-color: rgb(78, 113, 141);
    border-radius: 0.5em;
    color: white;
    padding: 0.45em 1em;
}

#forfeitButton:hover:not(:disabled)
{
    background-color: rgb(103, 141, 172);
    scale: 103%;
}

#reveal
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    flex-direction: column;
}

#epicWubboxDisclaimer
{
    display: none;
}

@media screen and (max-width: 1200px)
{
    #cluesBox > *:only-child
    {
        max-width: 90%;
    }

    #cluesBox > *
    {
        max-width: 30%;
    }
}
