*
{
    transition: all 0.15s;
}

body
{
    background-color: rgb(129, 176, 219);
}

h1
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin: 0.25em 0;
}

h2
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0.25em 0;
}

p
{
    font-size: 28px;
    color: white;
    text-align: center;
}

label
{
    font-size: 24px;
    color: white;
    text-align: center;
}

a
{
    color: white;
}

footer
{
    margin: 1em;
}

footer > p
{
    font-size: 24px;
    text-align: left;
    margin: 0.25em;
}

#clues
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    gap: 1em;
    flex-direction: column;
}

.cluesBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cluesBox > *:only-child
{
    max-width: 80%;
}

.cluesBox > *
{
    max-width: 13em;
    margin: 0.5em;
}

#cluesFooter
{
    max-width: 90%;
}

#guess
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    flex-direction: column;
    gap: 1em;
}

#guessInput
{
    border: none;
    font-size: 56px;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.25em;
    max-width: 90%;
}

#guessInput:hover:disabled
{
    cursor: default;
}

#forfeitButton
{
    border: none;
    font-size: 40px;
    background-color: rgb(78, 113, 141);
    border-radius: 0.5em;
    color: white;
    padding: 0.45em 1em;
}

#forfeitButton:hover:not(:disabled)
{
    background-color: rgb(103, 141, 172);
    scale: 103%;
}

#reveal
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    flex-direction: column;
}

#epicWubboxDisclaimer
{
    display: none;
}

audio
{
    border-radius: 0.5em;
    width: 30em;
    scale: 200%;
    margin: 2em;
    max-width: 90%;
    overflow: hidden;
}

#threeGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin: auto;
}

#threeGrid > div
{
    margin: 0em 1em;
    max-width: 100%;
}

#options
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#options > *
{
    width: 100%;
    min-width: fit-content;
    text-wrap: nowrap;
}

.option
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.option > input
{
    scale: 200%;
    margin: 1em;
}

.hidden
{
    display: none !important;
}

.imgAndName
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgAndName > *
{
    max-width: 100%;
}

@media screen and (max-width: 1300px)
{
    #threeGrid
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px)
{
    audio
    {
        scale: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 600px)
{
    p
    {
        font-size: 24px;
    }

    #guessInput
    {
        font-size: 40px;
    }

    .cluesBox > *
    {
        max-width: 40%;
        margin: 0.5em;
    }
}
